<ion-view view-title="Observações">
<ion-content class="padding">
<h2>Observações</h2>
	<p>*Para os cálculos de kg/ha e t/ha foi considerado que 1 ha tem 2.000 t de solo 
	(densidade do solo de 1 g/cm3 e 20 cm de profundidade).
	<br>
	*Considerando a densidade do solo 1 g/cm3, tem-se que: 1dm3 = 1L = 1 kg de solo e 1 mg/dm3 = 1 mg/L = 1 mg/kg = 1 ppm
	<br>
	<br>
	Quaisquer dúvidas, sugestões ou críticas sobre o aplicativo e seu funcionamento serão bem-vindas pelo e-mail:
	<br>
	<a href="mailto:andreleite.ufla@gmail.com?Subject=SoloConversor" target="_top">andreleite.ufla@gmail.com</a>
	<br>
	Obrigado por utilizar o "Solo Conversor",
	<br>
	saudações,
	<br>
	André Leite Silva.</p>
</ion-content>
</ion-view>
