<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <!-- <ion-tab title="Conversão" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> -->

  <!-- Conversor Tab -->
  <ion-tab title="Conversor" icon-off="ion-ios-calculator" icon-on="ion-ios-calculator" href="#/tab/conversor">
    <ion-nav-view name="tab-conversor"></ion-nav-view>
  </ion-tab>

  <!-- Conversor Tab -->
  <ion-tab title="Conversor Macronutriente" icon-off="ion-ios-calculator" icon-on="ion-ios-calculator" href="#/tab/conversor-complexo">
    <ion-nav-view name="tab-conversor-complexo"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Observações" icon-off="ion-information-circled" icon-on="ion-information-circled" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
